[Unit]
Description=All-in-one pxe server
After=network.target

[Service]
Type=simple
ExecStart=/opt/pxe/run.sh
WorkingDirectory=/opt/pxe

[Install]
WantedBy=multi-user.target
